<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$article[title]}_公告_{$config[sitename]}</title>
<link href="images/style.css" rel="stylesheet" type="text/css">
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/common.js" type="text/javascript"></script>
</head>

<body>
{template header2}
<div class="subnav">
	<span id="wellcome"><span id="timer"></span>　欢迎来到盘县教育网</span>
	<span id="position">您现在的位置 > <a href="index.php">网站首页</a> > 公告 > $article[title]</span>
</div>
<div class="area" id="arcframe">
	<div class="title-green"></div>
	<h1 class="title">$article[title]</h1>
	<div class="arcinfo">{eval $article[dateline]=date('Y-m-d H:i',$article[dateline])}发布时间：{$article[dateline]}　发布人：{$article[poster]}</div>
	<div class="arcbody">{$article[message]}</div>
</div>
<div class="adv0"><img src="images/adv5.png" border="0" /></div>
{template footer2}