<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>政务互动_{$config.sysname}</title>
<meta name="keywords" content="{$config.keywords}" />
<meta name="description" content="{$config.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
<script src="static/js/jquery.js" type="text/javascript"></script>
<script src="static/js/common.js" type="text/javascript"></script>
<script type="text/javascript">var currenttab = '#tab_chief';</script>
</head>

<body>
{include file='header.htm'}
<div class="subnav">
	<span id="wellcome"><span id="timer"></span>　欢迎来到盘县教育网</span>
	<span id="position">您现在的位置 > <a href="index.php">网站首页</a> > <a href="chief.php">政务互动</a></span>
</div>
<div class="area">
	{include file='left.htm'}
	<div class="bodyright">
		<div class="articlediv" id="arclist1">
			<div class="title-green">
				<span class="more"><a href="arclist.php?cid=5">更多</a></span>
				<span class="menu">政务公开</span>
			</div>
			<ul>
				<!--{foreach from=$articles.5 item=arc name=list}-->
				<li{if $smarty.foreach.list.last} class="end"{/if}><span class="dateline">{$arc.dateline|date_format:'%Y-%m-%d %H:%S'}</span>·<a href="{$arc.arcurl}" target="_blank">{$arc.title}</a></li>
				<!--{/foreach}-->
			</ul>
		</div>
		
		<div class="articlediv" id="arclist2">
			<div class="title-green">
				<span class="more"><a href="arclist.php?cid=6">更多</a></span>
				<span class="menu">教育党建</span>
			</div>
			<ul>
				<!--{foreach from=$articles.6 item=arc name=list}-->
				<li{if $smarty.foreach.list.last} class="end"{/if}><span class="dateline">{$arc.dateline|date_format:'%Y-%m-%d %H:%S'}</span>·<a href="{$arc.arcurl}" target="_blank">{$arc.title}</a></li>
				<!--{/foreach}-->
			</ul>
		</div>
		
		<div class="articlediv" id="arclist2">
			<div class="title-green">
				<span class="more"><a href="arclist.php?cid=7">更多</a></span>
				<span class="menu">教育督导</span>
			</div>
			<ul>
				<!--{foreach from=$articles.7 item=arc name=list}-->
				<li{if $smarty.foreach.list.last} class="end"{/if}><span class="dateline">{$arc.dateline|date_format:'%Y-%m-%d %H:%S'}</span>·<a href="{$arc.arcurl}" target="_blank">{$arc.title}</a></li>
				<!--{/foreach}-->
			</ul>
		</div>
		
		<div class="articlediv" id="arclist2">
			<div class="title-green">
				<span class="more"><a href="forum.php">更多</a></span>
				<span class="menu">互动留言</span>
			</div>
			<div class="greenbar">
				<a href="forum.php?fid=1">教育职称</a>
				<a href="forum.php?fid=2">资格认定</a>
				<a href="forum.php?fid=3">教育收费</a>
				<a href="forum.php?fid=4">招考咨询</a>
				<a href="forum.php?fid=5">学生资助</a>
			</div>
			<!--<div><img src="images/youqing2.png" border="0" /></div>-->
			<ul>
				<!--{foreach from=$threads.new item=tt name=list}-->
				<li{if $smarty.foreach.list.last} class="end"{/if}><span class="dateline">{$tt.dateline|date_format:'%Y-%m-%d %H:%M'}</span>·<a href="thread.php?tid={$tt.tid}" target="_blank">{$tt.subject}</a></li>
				<!--{/foreach}-->
			</ul>
		</div>
   	</div>
	<div class="clear"></div>
</div>

<div class="adv0"><img src="images/adv5.png" border="0" /></div>
{include file='footer.htm'}