<div class="area">
	<div class="flinkbar" id="jumpbar">
		<select onchange="window.open(this.value)"> 
			<option selected="selected" value="">国务院部门网站</option>
			<option value="http://www.mfa.gov.cn">外交部</option>
		
			<option value="http://www.mod.gov.cn/">国防部</option>
			<option value="http://www.ndrc.gov.cn">发展改革委</option>
			<option value="http://www.moe.gov.cn">教育部</option>
			<option value="http://www.most.gov.cn">科技部</option>
			<option value="http://www.miit.gov.cn/">工业和信息化部</option>
			<option value="http://www.seac.gov.cn">国家民委</option>
		
			<option value="http://www.mps.gov.cn">公安部</option>
			<option value="http://www.mos.gov.cn">监察部</option>
			<option value="http://www.mca.gov.cn">民政部</option>
			<option value="http://www.moj.gov.cn/">司法部</option>
			<option value="http://www.mof.gov.cn">财政部</option>
			<option value="http://www.mohrss.gov.cn/">人力资源社会保障部</option>
		
			<option value="http://www.mlr.gov.cn/">国土资源部</option>
			<option value="http://www.mep.gov.cn/">环境保护部</option>
			<option value="http://www.mohurd.gov.cn/">住房城乡建设部</option>
			<option value="http://www.moc.gov.cn/">交通运输部</option>
			<option value="http://www.china-mor.gov.cn/">铁道部</option>
			<option value="http://www.mwr.gov.cn/">水利部</option>
		
			<option value="http://www.moa.gov.cn/">农业部</option>
			<option value="http://www.mofcom.gov.cn/">商务部</option>
			<option value="http://www.mcprc.gov.cn/" >文化部</option>
			<option value="http://www.moh.gov.cn/">卫生部</option>
			<option value="http://www.chinapop.gov.cn/">人口计生委</option>
			<option value="http://www.pbc.gov.cn/">人民银行</option>
		
			<option value="http://www.audit.gov.cn/">审计署</option>
			<option value="http://www.sasac.gov.cn/">国资委</option>
			<option value="http://www.customs.gov.cn/">海关总署</option>
			<option value="http://www.chinatax.gov.cn/">税务总局</option>
			<option value="http://www.saic.gov.cn/">工商总局</option>
			<option value="http://www.aqsiq.gov.cn/">质检总局</option>
		
			<option value="http://www.chinasarft.gov.cn/">广电总局</option>
			<option value="http://www.gapp.gov.cn/">新闻出版总署(版权局)</option>
			<option value="http://www.sport.gov.cn/">体育总局</option>
			<option value="http://www.chinasafety.gov.cn/">安全监管总局</option>
			<option value="http://www.stats.gov.cn/">统计局</option>
			<option value="http://www.forestry.gov.cn/">林业局</option>
		
			<option value="http://www.sipo.gov.cn/">知识产权局</option>
			<option value="http://www.cnta.gov.cn/">旅游局</option>
			<option value="http://www.sara.gov.cn/GB/">宗教局</option>
			<option value="http://www.counsellor.gov.cn/">参事室</option>
			<option value="http://www.ggj.gov.cn/">国管局</option>
			<option value="http://www.nbcp.gov.cn/">预防腐败局</option>
		
			<option value="http://www.gqb.gov.cn/">侨办</option>
			<option value="http://www.hmo.gov.cn/">港澳办</option>
			<option value="http://www.chinalaw.gov.cn/">法制办</option>
			<option value="http://www.xinhuanet.com/">新华社</option>
			<option value="http://www.cas.cn/">中科院</option>
			<option value="http://www.cass.net.cn/">社科院</option>
		
			<option value="http://www.cae.cn/">工程院</option>
			<option value="http://www.drc.gov.cn/">发展研究中心</option>
			<option value="http://www.nsa.gov.cn/">行政学院</option>
			<option value="http://www.cea.gov.cn/">地震局</option>
			<option value="http://www.cma.gov.cn/">气象局</option>
			<option value="http://www.cbrc.gov.cn/">银监会</option>
		
			<option value="http://www.csrc.gov.cn/">证监会</option>
			<option value="http://www.circ.gov.cn/">保监会</option>
			<option value="http://www.serc.gov.cn/">电监会</option>
			<option value="http://www.ssf.gov.cn/">社保基金会</option>
			<option value="http://www.nsfc.gov.cn/">自然科学基金会</option>
			<option value="http://www.gwytb.gov.cn/">台办</option>
		
			<option value="http://www.scio.gov.cn/">新闻办</option>
			<option value="http://www.saac.gov.cn/">档案局</option>
			<option value="http://www.gjxfj.gov.cn/">信访局</option>
			<option value="http://www.chinagrain.gov.cn/">粮食局</option>
			<option value="http://www.tobacco.gov.cn/">烟草局</option>
			<option value="http://www.safea.gov.cn/">外专局</option>
		
			<option value="http://www.scs.gov.cn/">公务员局</option>
			<option value="http://www.soa.gov.cn/">海洋局</option>
			<option value="http://www.sbsm.gov.cn/">测绘局</option>
			<option value="http://www.caac.gov.cn/">民航局</option>
			<option value="http://www.post.gov.cn/">邮政局</option>
			<option value="http://www.sach.gov.cn/">文物局</option>
		
			<option value="http://www.sda.gov.cn/WS01/CL0001/">食品药品监管局</option>
			<option value="http://www.satcm.gov.cn/">中医药局</option>
			<option value="http://www.safe.gov.cn/">外汇局</option>
			<option value="http://www.chinasafety.gov.cn/mjweb/mjindex07.htm">煤矿安监局</option>
			<option value="http://www.oscca.gov.cn/">密码局</option>
			<option value="http://www.cnsa.gov.cn">航天局</option>
		
			<option value="http://www.caea.gov.cn">原子能机构</option>
			<option value="http://www.china-language.gov.cn/">国家语委</option>
			<option value="http://www.cpad.gov.cn/">国务院扶贫办</option>
			<option value="http://www.3g.gov.cn/">国务院三峡办</option>
	  	</select>

		<select onchange="window.open(this.value)"> 
		   <option selected="selected" value="">教育部相关网站</option>
		   <option value="http://www.ssmz.edu.cn/">中国少数民族教育网</option>
		   <option value="http://www.edu.cn/">中国教育和科研计算机网</option>
		   <option value="http://www.chinadegrees.cn">中国学位与研究生教育信息网</option>
		   <option value="http://www.chinaedu.edu.cn/">中国教育信息网</option>
		
		   <option value="http://www.csc.edu.cn/">国家留学网</option>
		   <option value="http://www.eol.cn/">中国教育在线</option>
		   <option value="http://www.myjob.edu.cn/">中国高校毕业生就业服</option>
		   <option value="http://www.cetv.edu.cn/">中国教育电视台网站</option>
		   <option value="http://www.hie.edu.cn/">中国高教改革与发展网</option>
		   <option value="http://www.uast.com.cn/">高校农业科技与教育联</option>
		
		   <option value="http://www.jsj.edu.cn/">教育涉外监管信息网</option>
		   <option value="http://www.chsi.com.cn/">中国高等教育学生信息</option>
		   <option value="http://www.21caas.com/">中国院校后勤信息网</option>
		   <option value="http://www.chinayz.com.cn/index.htm">中国研究生招生信息网</option>
		   <option value="http://www.cscse.edu.cn/">中国留学网</option>
		   <option value="http://www.itat.com.cn/">全国信息技术应用培训</option>
		
		   <option value="http://www.cbe21.com/">中国基础教育网</option>
		   <option value="http://www.cvae.edu.cn/">中国职业教育与成人教</option>
		   <option value="http://166.111.180.5/">全国高等学校精品课程</option>
		   <option value="http://www.paper.edu.cn/">中国科技论文在线</option>
		   <option value="http://www.meeting.edu.cn/">中国学术会议在线</option>
		   <option value="http://www.china-language.gov.cn/">中国语言文字网</option>
		
		   <option value="http://www.e-chinaedu.cn/">中国教育信息化网</option>
		   <option value="http://www.jyb.cn/">中国教育新闻网</option>
		   <option value="http://www.jycbxx.net.cn/">教育出版信息网</option>
		   <option value="http://www.cern.net.cn/">中国教育资源网</option>
		   <option value="http://yz.chsi.cn/">中国研究生招生信息网</option>
		   <option value="http://ycjy.moe.edu.cn/">农村中小学现代远程教</option>
		
		   <option value="http://www.ceat.edu.cn/">中国教育干部培训网</option>
		   <option value="http://www.cupa.com.cn/">中国校长协会网</option>
		   <option value="http://www.cbern.gov.cn/">国家基础教育资源网</option>
		   <option value="http://www.cedf.org.cn/">中国教育发展基金会网站</option>
		   <option value="http://www.cksp.edu.cn/">长江学者奖励计划</option>
		   <option value="http://www.eachina.org.cn/">教育部基础教育质量监</option>
		
		   <option value="http://www.jsjjh.org.cn/">中国中小学幼儿教师奖</option>
		   <option value="http://www.csh.edu.cn/">中国学生体质健康网</option>
		   <option value="http://journal.hep.com.cn/">中国学术前沿期刊网</option>
		   <option value="http://www.wei.moe.edu.cn/">世界教育信息网</option>
	  </select>

		<select onchange="window.open(this.value)"> 
		   <option selected="selected" value="">教育部直属高校网站</option>
		   <option value="http://www.pku.edu.cn/" >北京大学</option>
		   <option value="http://www.ruc.edu.cn/" >中国人民大学</option>
		   <option value="http://www.tsinghua.edu.cn/" >清华大学</option>
		   <option value="http://www.ustb.edu.cn/" >北京科技大学</option>
		
		   <option value="http://www.buct.edu.cn/" >北京化工大学</option>
		   <option value="http://www.bnu.edu.cn/" >北京师范大学</option>
		   <option value="http://www.blcu.edu.cn/" >北京语言大学</option>
		   <option value="http://www.bfsu.edu.cn/" >北京外国语大学</option>
		   <option value="http://www.bjtu.edu.cn/" >北京交通大学</option>
		   <option value="http://www.bupt.edu.cn/" >北京邮电大学　</option>
		
		   <option value="http://www.cup.edu.cn/" >中国石油大学（北京）</option>
		   <option value="http://www.upc.edu.cn/" >中国石油大学（华东）</option>
		   <option value="http://www.cau.edu.cn/" >中国农业大学</option>
		   <option value="http://www.cuc.edu.cn/" >中国传媒大学</option>
		   <option value="http://www.bjfu.edu.cn/" >北京林业大学</option>
		   <option value="http://www.cupl.edu.cn/" >中国政法大学</option>
		
		   <option value="http://www.cufe.edu.cn/" >中央财经大学</option>
		   <option value="http://www.ccom.edu.cn/" >中央音乐学院</option>
		   <option value="http://www.chntheatre.edu.cn/" >中央戏剧学院</option>
		   <option value="http://www.cafa.edu.cn/" >中央美术学院</option>
		   <option value="http://www.bucm.edu.cn" >北京中医药大学</option>
		   <option value="http://www.uibe.edu.cn/" >对外经济贸易大学</option>
		
		   <option value="http://www.nankai.edu.cn/" >南开大学</option>
		   <option value="http://www.tju.edu.cn/" >天津大学</option>
		   <option value="http://www.ncepu.edu.cn/" >华北电力大学</option>
		   <option value="http://www.neu.edu.cn/" >东北大学</option>
		   <option value="http://www.dlut.edu.cn/" >大连理工大学</option>
		   <option value="http://www.jlu.edu.cn/newindex.html" >吉林大学</option>
		
		   <option value="http://www.nenu.edu.cn/" >东北师范大学</option>
		   <option value="http://www.nefu.edu.cn/" >东北林业大学</option>
		   <option value="http://www.fudan.edu.cn/" >复旦大学</option>
		   <option value="http://www.tongji.edu.cn/" >同济大学</option>
		   <option value="http://www.sjtu.edu.cn/" >上海交通大学</option>
		   <option value="http://www.ecust.edu.cn/" >华东理工大学</option>
		
		   <option value="http://www.dhu.edu.cn/" >东华大学</option>
		   <option value="http://www.ecnu.edu.cn/" >华东师范大学</option>
		   <option value="http://www.shisu.edu.cn/" >上海外国语大学</option>
		   <option value="http://www.nju.edu.cn/" >南京大学</option>
		   <option value="http://www.shufe.edu.cn/" >上海财经大学</option>
		   <option value="http://www.seu.edu.cn/" >东南大学</option>
		
		   <option value="http://www.cumt.edu.cn/" >中国矿业大学</option>
		   <option value="http://www.cumtb.edu.cn/" >中国矿业大学（北京）</option>
		   <option value="http://www.hhu.edu.cn/" >河海大学</option>
		   <option value="http://www.sytu.edu.cn/" >江南大学</option>
		   <option value="http://www.njau.edu.cn/" >南京农业大学</option>
		   <option value="http://www.hfut.edu.cn/" >合肥工业大学</option>
		
		   <option value="http://www.cpu.edu.cn/" >中国药科大学</option>
		   <option value="http://www.zju.edu.cn/" >浙江大学</option>
		   <option value="http://www.xmu.edu.cn/" >厦门大学</option>
		   <option value="http://www.sdu.edu.cn/" >山东大学</option>
		   <option value="http://www.ouc.edu.cn/" >中国海洋大学</option>
		   <option value="http://www.whu.edu.cn/" >武汉大学</option>
		
		   <option value="http://www.hust.edu.cn/index.html" >华中科技大学</option>
		   <option value="http://www.cug.edu.cn/" >中国地质大学（武汉）</option>
		   <option value="http://www.cugb.edu.cn/" >中国地质大学（北京）</option>
		   <option value="http://www.whut.edu.cn/" >武汉理工大学</option>
		   <option value="http://www.ccnu.edu.cn/" >华中师范大学</option>
		   <option value="http://www.hzau.edu.cn/" >华中农业大学</option>
		
		   <option value="http://www.znufe.edu.cn/" >中南财经政法大学</option>
		   <option value="http://www.hnu.edu.cn/" >湖南大学</option>
		   <option value="http://www.csu.edu.cn/" >中南大学</option>
		   <option value="http://www.zsu.edu.cn/" >中山大学</option>
		   <option value="http://www.scut.edu.cn/" >华南理工大学</option>
		   <option value="http://www.scu.edu.cn/" >四川大学</option>
		
		   <option value="http://www.swufe.edu.cn/" >西南财经大学</option>
		   <option value="http://www.swjtu.edu.cn/" >西南交通大学</option>
		   <option value="http://www.uestc.edu.cn/" >电子科技大学</option>
		   <option value="http://www.cqu.edu.cn/" >重庆大学</option>
		   <option value="http://www.swu.edu.cn/" >西南大学</option>
		   <option value="http://www.xjtu.edu.cn/" >西安交通大学</option>
		
		   <option value="http://www.nwsuaf.edu.cn/" >西北农林科技大学</option>
		   <option value="http://www.snnu.edu.cn/" >陕西师范大学</option>
		   <option value="http://www.xidian.edu.cn/" >西安电子科技大学</option>
		   <option value="http://www.chd.edu.cn/" >长安大学</option>
		   <option value="http://www.lzu.edu.cn/" >兰州大学</option>
	  	</select>
		
		<select onchange="window.open(this.value)"> 
		   <option selected="selected" value="">地方教育机构网站</option>
		   <option value="http://www.bjedu.gov.cn/">北京市教育委员会</option>
		   <option value="http://www.tjmec.gov.cn/">天津市教育委员会</option>
		   <option value="http://www.hee.cn/">河北省教育厅</option>
		
		   <option value="http://www.sxedu.gov.cn/">山西省教育厅</option>
		   <option value="http://www.nmgov.edu.cn/">内蒙古教育厅</option>
		   <option value="http://www.lnein.gov.cn/">辽宁省教育厅</option>
		   <option value="http://www.jledu.gov.cn/">吉林省教育厅</option>
		   <option value="http://www.hlje.net/">黑龙江省教育厅</option>
		   <option value="http://www.shmec.gov.cn/">上海市教育委员会</option>
		
		   <option value="http://www.ec.js.edu.cn/">江苏省教育厅</option>
		   <option value="http://www.zjedu.gov.cn/">浙江省教育厅</option>
		   <option value="http://www.ahedu.gov.cn/">安徽省教育厅</option>
		   <option value="http://www.fjedu.gov.cn/">福建省教育厅</option>
		   <option value="http://www.jxedu.gov.cn/">江西省教育厅</option>
		   <option value="http://www.sdedu.gov.cn/">山东省教育厅</option>
		
		   <option value="http://www.hadoe.edu.cn/">河南省教育厅</option>
		   <option value="http://www.hbe.gov.cn/">湖北省教育厅</option>
		   <option value="http://gov.hnedu.cn/cn/gov/index.jsp">湖南省教育厅</option>
		   <option value="http://www.gdhed.edu.cn/">广东省教育厅</option>
		   <option value="http://www.gxedu.gov.cn/">广西壮族自治区教育厅</option>
		   <option value="http://edu.hainan.gov.cn/">海南省教育厅</option>
		
		   <option value="http://www.cqjw.gov.cn/">重庆市教育委员会</option>
		   <option value="http://www.scedu.net/">四川省教育厅</option>
		   <option value="http://www.guizhou.edu.cn/">贵州省教育厅</option>
		   <option value="http://www.ynjy.cn/">云南省教育厅</option>
		   <option value="http://www.xzedu.com.cn/">西藏自治区教育厅</option>
		   <option value="http://www.snedu.gov.cn/">陕西省教育厅</option>
		
		   <option value="http://www.gsedu.gov.cn/">甘肃省教育厅</option>
		   <option value="http://www.qhedu.gov.cn/">青海省教育厅</option>
		   <option value="http://nxedu.com/tzjg/dld/">宁夏回族自治区教育厅</option>
		   <option value="http://www.xjedu.gov.cn/">新疆维吾尔自治区教育厅</option>
		   <option value="http://www.dledu.com/">大连市教育局</option>
		   <option value="http://www.qdedu.gov.cn/">青岛市教育局</option>
		
		   <option value="http://nbedu.net.cn/">宁波市教育委员会</option>
		   <option value="http://www.xmedu.gov.cn/">厦门市教育局</option>
		   <option value="http://www.sz.edu.cn/">深圳市教育局</option>
	  </select>
	</div>
	<div id="footer">
		<div class="bottomnav">
			<a href="map.php">网站地图</a> |
			<a href="leadmail.php">局长邮箱</a> |
			<a href="forum.php">民意调查</a> |
			<a href="about.php?id=1">使用帮助</a> |
			<a href="about.php?id=2">联系我们</a> |
			{$config.statcode}
		</div>
		<div class="copyright">{$config.copyright}  ICP证：<a href="http://www.miibeian.gov.cn/" target="_blank">{$config.icp}</a></div>
		<p>
			地址：{$config.ct_address} 邮编：{$config.ct_postcode}<br />
			联系电话：{foreach from=$contact.tel item=tel}　{$tel}{/foreach}
			主办单位：盘县教育局　技术支持：<a href="http://www.toking.cc" target="_blank">拓垦科技</a>
		</p>
	</div>
</div>
<div class="blank"></div>
</div>
</body>
</html>