vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 07:49:18 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 07:49:18 -0000
vti_filesize:IR|4228
vti_cachedlinkinfo:VX|Q|images/style.css H|/ H|video.php D|clsid:D27CDB6E-AE6D-11cf-96B8-444553540000 D|http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab S|{$video.videourl} H|javascript:; S|http://v1.jiathis.com/code/jia.js H|search.php H|video.php H|{$vod.vodurl} S|{$vod.image} H|{$vod.vodurl} H|{$arc.arcurl} H|{$img.imgurl} S|{$img.image} H|{$img.imgurl} H|{$vod.vodurl} S|{$vod.image} H|{$vod.vodurl}
vti_cachedsvcrellinks:VX|FQUS|pxjyj/templates/default/images/style.css DHUS| NHUS|pxjyj/templates/default/video.php NDUS|clsid:D27CDB6E-AE6D-11cf-96B8-444553540000 NDHS|http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab NSUS|pxjyj/templates/default/{$video.videourl} SHUS|javascript:; NSHS|http://v1.jiathis.com/code/jia.js NHUS|pxjyj/templates/default/search.php NHUS|pxjyj/templates/default/video.php NHUS|pxjyj/templates/default/{$vod.vodurl} NSUS|pxjyj/templates/default/{$vod.image} NHUS|pxjyj/templates/default/{$vod.vodurl} NHUS|pxjyj/templates/default/{$arc.arcurl} NHUS|pxjyj/templates/default/{$img.imgurl} NSUS|pxjyj/templates/default/{$img.image} NHUS|pxjyj/templates/default/{$img.imgurl} NHUS|pxjyj/templates/default/{$vod.vodurl} NSUS|pxjyj/templates/default/{$vod.image} NHUS|pxjyj/templates/default/{$vod.vodurl}
vti_cachedtitle:SR|{$video.title}-{$cfg.sysname}
vti_title:SR|{$video.title}-{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$video.tags},{$video.keywords},{$cfg.keywords} description {$video.content}
vti_backlinkinfo:VX|
