vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Apr 2011 07:37:22 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|12 Apr 2011 07:37:22 -0000
vti_filesize:IR|2998
vti_cachedlinkinfo:VX|S|searchbg.png
vti_cachedsvcrellinks:VX|FSUS|pxjyj/templates/pxedu/images/searchbg.png
vti_backlinkinfo:VX|pxjyj/templates/pxedu/search.htm
