{if $operation=='add'}
<div class="main-div">
	<div class="pos-div">
		<h2>$lang[cp_home] &raquo; 用户管理 &raquo; 添加用户</h2>
	</div>
	<div class="toolbar">
		<b class="button" tabindex="0" onclick="$('#form1').submit()"><span>提交</span></b>
		<b class="button" tabindex="0" onclick="LoadPage()"><span>返回列表</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('operation=add')"><span>刷新</span></b>
	</div>
    <form id="form1" name="form1" method="post" action="">
	<input type="hidden" name="formsubmit" value="yes" />
	<input type="hidden" name="formhash" value="{FORMHASH}" />
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">
        <tr>
          <td width="80">用户名</td>
          <td><input type="text" class="text" name="membernew[username]" id="username" /></td>
        </tr>
        <tr>
          <td>密码</td>
          <td><input type="password" class="text" name="membernew[password]" id="password" /></td>
        </tr>
        <tr>
          <td>电子邮件</td>
          <td><input type="text" class="text" name="membernew[email]" id="email" /></td>
        </tr>
        <tr>
          <td>用户组</td>
          <td>
		  <select name="membernew[groupid]" style="width:300px;">
		  	  <optgroup label="会员用户组">
			  {loop $usergroups[member] $group}
			  <option value="$group[groupid]"{if $member[groupid]==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
			  <optgroup label="系统用户组">
			  {loop $usergroups[system] $group}
			  <option value="$group[groupid]"{if $member[groupid]==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
			  <optgroup label="自定义用户组">
			  {loop $usergroups[custom] $group}
			  <option value="$group[groupid]"{if $member[groupid]==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
		  </select>
		  </td>
        </tr>
        <tr>
          <td>真实姓名</td>
          <td><input type="text" class="text" name="membernew[realname]" /></td>
        </tr>
        <tr>
          <td>QQ</td>
          <td><input type="text" class="text" name="membernew[userim]" /></td>
        </tr>
        <tr>
          <td>手机</td>
          <td><input type="text" class="text" name="membernew[mobile]" /></td>
        </tr>
      </table>
    </form>
	<div class="toolbar">
		<b class="button" tabindex="0" onclick="$('#form1').submit()"><span>提交</span></b>
		<b class="button" tabindex="0" onclick="LoadPage()"><span>返回列表</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('operation=add')"><span>刷新</span></b>
	</div>
</div>
<script type="text/javascript">
$("#form1").submit(function(){
	if(!$("#username").val()){
		alert("用户名不能为空，请重新输入");
		return false;
	}
	if(($("#password").val()).length<6){
		alert("密码输入错误，只是6位");
		return false;
	}
	if(!$("#email").val()){
		alert("电子邮件不能为空，请重新输入");
		return false;
	}
	return true;
})
</script>
{elseif $operation=='edit'}
<div class="main-div">
	<div class="pos-div">
		<h2>$lang[cp_home] &raquo; 用户管理 &raquo; 编辑用户</h2>
	</div>
	<div class="toolbar">
		<b class="button" tabindex="0" onclick="$('#form1').submit()"><span>提交</span></b>
		<b class="button" tabindex="0" onclick="LoadPage()"><span>返回列表</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('operation=edit&uid=$uid')"><span>刷新</span></b>
	</div>
    <form id="form1" name="form1" method="post" action="">
	<input type="hidden" name="formsubmit" value="yes" />
	<input type="hidden" name="formhash" value="{FORMHASH}" />
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">
        <tr>
          <td width="80">用户名</td>
          <td><input type="text" class="text" name="membernew[username]" id="username" value="$member[username]" readonly="" /> 不可修改</td>
        </tr>
        <tr>
          <td>密码</td>
          <td><input type="password" class="text" name="membernew[password]" id="password" /> 不修改请留空</td>
        </tr>
        <tr>
          <td>电子邮件</td>
          <td><input type="text" class="text" name="membernew[email]" id="email" value="$member[email]" /></td>
        </tr>
        <tr>
          <td>用户组</td>
          <td>
		  <select name="membernew[groupid]" style="width:300px;">
		  	  <optgroup label="会员用户组">
			  {loop $usergroups[member] $group}
			  <option value="$group[groupid]"{if $member[groupid]==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
			  <optgroup label="系统用户组">
			  {loop $usergroups[system] $group}
			  <option value="$group[groupid]"{if $member[groupid]==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
			  <optgroup label="自定义用户组">
			  {loop $usergroups[custom] $group}
			  <option value="$group[groupid]"{if $member[groupid]==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
		  </select>
		  </td>
        </tr>
        <tr>
          <td>真实姓名</td>
          <td><input type="text" class="text" name="membernew[realname]" value="$member[realname]" /></td>
        </tr>
        <tr>
          <td>QQ</td>
          <td><input type="text" class="text" name="membernew[userim]" value="$member[userim]" /></td>
        </tr>
        <tr>
          <td>手机</td>
          <td><input type="text" class="text" name="membernew[mobile]" value="$member[mobile]" /></td>
        </tr>
      </table>
    </form>
	<div class="toolbar">
		<b class="button" tabindex="0" onclick="$('#form1').submit()"><span>提交</span></b>
		<b class="button" tabindex="0" onclick="LoadPage()"><span>返回列表</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('operation=edit&uid=$uid')"><span>刷新</span></b>
	</div>
</div>
<script type="text/javascript">
$("#form1").submit(function(){
	if($("#password").val() && ($("#password").val()).length<6){
		alert("密码输入错误，只是6位");
		return false;
	}
	if(!$("#email").val()){
		alert("电子邮件不能为空，请重新输入");
		return false;
	}
	return true;
})
</script>
{else}
<div class="main-div">
	<div class="pos-div">
		<h2>$lang[cp_home] &raquo; 用户管理　{$lang[total]}{$totalrecords}{$lang[total_records]}</h2>
		<div class="searchbox">
		  <select name="groupid" id="groupid" onchange="ListTable('groupid='+this.value)">
			  <option value="0">所有用户</option>
			  <optgroup label="系统用户组">
			  {loop $usergroups[system] $group}
			  <option value="$group[groupid]"{if $groupid==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
			  <optgroup label="自定义用户组">
			  {loop $usergroups[custom] $group}
			  <option value="$group[groupid]"{if $groupid==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
			  <optgroup label="会员用户组">
			  {loop $usergroups[member] $group}
			  <option value="$group[groupid]"{if $groupid==$group[groupid]} selected="selected"{/if}>$group[grouptitle]</option>
			  {/loop}
			  </optgroup>
		  </select>
		  <input type="text" name="q" id="q" value="{$q}" class="textinput" style="width:145px;" />
		  <b class="button" tabindex="0" onclick="ListTable('groupid='+$('#groupid').val()+'&q='+$('#q').val())"><span>搜索</span></b>
		</div>
	</div>
	<div class="toolbar">
		<span class="pagebox">{$pagelink}</span>
		<b class="button" tabindex="0" onclick="$('#members').submit()"><span>提交</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('operation=add')"><span>添加用户</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('groupid=$groupid&q=$q&page=$page')"><span>刷新</span></b>
	</div>
	<form name="members" id="members" method="post" action="">
	<input type="hidden" name="formsubmit" value="yes" />
	<input type="hidden" name="formhash" value="{FORMHASH}" />
  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
    <tr>
      <th width="50"><input type="checkbox" class="checkbox" onclick="checkAll(this,'delete[]')" /> 删除?</th>
      <th>用户名</th>
      <th width="80">用户组</th> 
      <th width="160">电子邮件</th>
	  <th width="140">注册时间</th>
      <th width="140">最后登录时间</th>
	  <th width="90">最后登录IP</th>
      <th width="60">登录次数</th>
	  <th width="60" class="last">选项</th>
    </tr>
	<!--{loop $members $member}-->
    <tr onmouseover="this.className='active'" onmouseout="this.className=''">
      <td>{if $member[isfounder]||($member[adminid] && !$isfounder)}<input type="checkbox" disabled="disabled" />{else}<input type="checkbox" name="delete[]" value="{$member[uid]}" onclick="checkThis(this)" />{/if}</td>
      <td>{$member[username]}</td>
      <td>{$member[grouptitle]}</td> 
      <td>{$member[email]}</td>
	  <td>{$member[regdate]}</td>
	  <td>$member[lastlogin]</td>
      <td>{$member[lastip]}</td>
      <td>{$member[logintimes]}</td>
	  <td>{if $member[adminid] && !$isfounder}{else}<a href="$BASESCRIPT?action=member&operation=edit&uid={$member[uid]}">$lang[edit]</a>{/if}</td>
    </tr>
	<!--{/loop}-->
	<tr>
	    <td colspan="9">{$lang[select]}：
			<a href="javascript:;" onclick="selectAll('delete[]')">{$lang[selectall]}</a> - 
			<a href="javascript:;" onclick="cancelAll('delete[]')">{$lang[noselect]}</a> - 
			<a href="javascript:;" onclick="reverseAll('delete[]')">{$lang[reverseselect]}</a>
		</td>
	</tr>
  	</table>
  	</form>
	<div class="toolbar">
		<span class="pagebox">{$pagelink}</span>
		<b class="button" tabindex="0" onclick="$('#members').submit()"><span>提交</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('operation=add')"><span>添加用户</span></b>
		<b class="button" tabindex="0" onclick="LoadPage('groupid=$groupid&q=$q&page=$page')"><span>刷新</span></b>
	</div>
</div>
{/if}